body{
    background-color: #7A85C1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;

    background-image: url(images/space_background.gif);
    background-size: 100%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
    background-color: #3B38A0;
}

nav li {
    display: inline;
}

nav li a{
    color: white;
    padding: 10px 1%;
    text-decoration: none;
    text-align: center;
    margin: 0;
}

nav li a:hover{
    background-color: #1A2A80;
}

.main{
    text-align: center;
}

.outerContainer{
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.outerContainer img{
    border-radius: 5px;
}

button{
    padding: 5px;
    background-color: black;
    color: lime;
    border-radius: 5px;

    display: block;
    margin: 0 auto;
}

p{
    text-wrap: wrap;
    padding: -0.5px;
}

.middleList{
    list-style-position: inside;
}

#mid{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.quoteBox{
    text-align: center;
    width: 50%;

    background-color: rgba(0,0, 0,0.5);

    margin: 2% auto; 
    border: solid white 2px;
    padding: 10px;
}

.hidden{
    display: none;
}

#end{
    margin: 0 auto;
    
    text-align: center;
    width: 50%;
    background-color: rebeccapurple;
}

@media only screen and (max-width: 600px) {
    .outerContainer{
        width: 95%;
    }

    .left{
    float: npn;
    }

    .right{
        float: right;
    }

    .quoteBox{
        width: 80%;
    }

    #mid{
        width: 80%;
    }
}