body{
    background-color: #7A85C1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
    background-color: #3B38A0;
}

nav li {
    display: inline;
}

nav li a{
    color: white;
    padding: 10px 1%;
    text-decoration: none;
    text-align: center;
    margin: 0;
}

nav li a:hover{
    background-color: #1A2A80;
}

.main{
    text-align: center;
}